@import "globals.scss";

// Use border-box sizing for everything.
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  max-height: 100%
}

body {
  margin:0;
  border:0;
  padding:80px 0 0;
  font-family:$font;
  color:$text;
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizelegibility;
  font-size:17px;
  line-height: 1.428571429;
}

img {
  vertical-align: middle;
}

p {
  margin: 0 0 10px;
}

h1, h2, h3, h4, h5 {
  color:#263c4c;
  line-height: 1.1;
}

h1, h2 {
  font-family:$fontheadings;
}

a {
  color:$accent;
  text-decoration:none;
    
  &:hover {
    color:darken($accent, 8%);
    text-decoration:none;
  }
}

.container {
  max-width:820px;
  margin:0 auto;
}

.article-cover, .blog-cover {
  max-width: 100%;
  margin-top: 0;
  position: relative;
  overflow: hidden;
  background: #eee;
  height: 60%;
  max-height: 480px;
  background-color: #111;
  background-size: cover;
  background-position: center center;
}

.cover-caption {
  text-align: right;
  font-size: .7em;
  font-style: italic;
  color: #BAB8B3;
  margin-right: .5em;
}

.index {
  > div{
    display:table-cell;
  }
    
  .title {
    margin:0em 0 0.6em;
  }
}

.pagination {
  text-align:center;
}

.site-footer {
  padding: 5em 1em;
  margin:4em 0 0 0;
  background:whitesmoke;;
  color:#aaa;
  font-size:0.8em;
    
  a {
    color:#777;
    border:0;
    margin:0 0.3em;
        
    &:hover {
      color:#222;
    }
  }
    
  p {
    color:#999;
    a {
      margin:0;
      color:#999;
    }
  }
    
  nav {
    display:inline-block;
    margin-left: .5em;
  }
    
  .social {
    float:right;
        
    a:last-child {
      margin-right: 0;
    }
    a {
      color:#000;
      border:0;
      width:36px;
      height:36px;
      border:2px solid rgba(0,0,0,1);
      display:inline-block;
      padding:6px 0;
      border-radius:42px;
      margin:0 1em 0em 0;
      line-height: 0;
      text-align:center;
      opacity:0.3;

      @include black_icons;

      &:hover {
        opacity:0.9;
      }
    }
  }
}

.muted {
  color:$textmuted;
}

.smaller {
  font-size: 70%;
}

