@import "globals.scss";

// Use border-box sizing for everything.
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  max-height: 100%
}

body {
  margin:0;
  border:0;
  padding:80px 0 0;
  font-family:$font;
  color:$text;
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizelegibility;
  font-size:17px;
  line-height: 1.428571429;
}

img {
  vertical-align: middle;
}

p {
  margin: 0 0 10px;
}

h1, h2, h3, h4, h5 {
  color:#263c4c;
  line-height: 1.1;
}

h1, h2 {
  font-family:$fontheadings;
}

a {
  color:$accent;
  text-decoration:none;
    
  &:hover {
    color:darken($accent, 8%);
    text-decoration:none;
  }
}

.pagination {
  text-align:center;
}

.muted {
  color:$textmuted;
}

.smaller {
  font-size: 70%;
}

